@import 'mixins';

:host {
  --check-duration: 150ms;
  display: block;

  &:not(:last-of-type) {
    // margin-bottom: var(--spacing-one);
    height: var(--spacing-two);
  }
}

.list-item-container {
  display: flex;
  align-items: center;

  &.cdk-keyboard-focused {
    outline: 2px solid var(--color-primary);
  }

  &.has-value {
    cursor: pointer;
  }

  &.checked {
    .checkbox-container {
      background: var(--color-primary);
    }

    .checkbox__short-line,
    .checkbox__long-line {
      opacity: 1;
    }
  }
}

.checkbox-container,
.add-icon {
  width: var(--spacing-one);
  height: var(--spacing-one);
  margin-right: var(--spacing-one);
  flex: none;
}

.checkbox-container {
  border: 2px solid var(--color-primary);
  background-color: transparent;
  border-radius: var(--spacing-quarter);
  position: relative;
  transition: background-color var(--check-duration) ease;
}

.checkbox__short-line,
.checkbox__long-line {
  position: absolute;
  height: 2px;
  transform-origin: left center;
  border-radius: 1px;
  background-color: var(--color-bg);
  opacity: 0;
  transition: opacity var(--check-duration) ease;
}

.checkbox__short-line {
  transform: rotate(45deg);
  top: calc(50% - 2px);
  left: calc(50% - 5px);
  width: 5px;
}

.checkbox__long-line {
  transform: rotate(-45deg);
  top: calc(50% + 2px);
  left: calc(50% - 2.2px);
  width: 10px;
}

.item-input {
  @include input-placeholder() {
    color: var(--color-text-secondary);
  }

  background: transparent;
  border: none;
  min-width: 0;
  padding: 0;
  outline: none;
}

.delete-button {
  @include button-reset();

  margin-left: auto;
  background-color: transparent;
  width: var(--spacing-one);
  height: var(--spacing-one);
  flex: none;
}