@import 'mixins';

.fab {
  @include button-reset();

  position: fixed;
  bottom: var(--spacing-two);
  right: var(--spacing-two);
  width: var(--spacing-four);
  height: var(--spacing-four);
  background-color: var(--color-primary);
  border-radius: 50%;

  &:focus,
  &:hover {
    background-color: var(--color-primary-100);
  }
}

.mh-button {
  @include button-reset();

  display: flex;
  align-items: center;
  padding: var(--spacing-one) var(--spacing-two);
  background-color: transparent;
  font-size: 1rem;
  border-radius: 99999px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--color-secondary-100);

  mh-icon {
    margin-left: var(--spacing-one);
    height: var(--spacing-one-and-half);
    color: var(--color-secondary-100);
  }

  &:hover:not(:disabled),
  &.cdk-keyboard-focused {
    background-color: var(--color-bg-alt);
  }

  &:disabled {
    cursor: default;
    color: var(--color-text-200);
    
    mh-icon {
      color: var(--color-text-200);
    }
  }
}
