:root {
  --color-bg: #ffffff;
  --color-bg-alt: #efefef;
  --color-text-primary: #434343;
  --color-text-200: #888888;
  --color-text-dark: #ffffff;
  --color-text-dark-100: #d3dce7;
  --color-primary: #203B8C;
  --color-primary-100: #26488C;
  --color-primary-200: #5A86BF;
  --color-secondary: #D99873;
  --color-secondary-100: #A6634B;
}
