:root {
  --spacing-quarter: 0.25rem;
  --spacing-half: 0.5rem;
  --spacing-one: 1rem;
  --spacing-one-and-half: 1.5rem;
  --spacing-two: 2rem;
  --spacing-two-and-half: 2.5rem;
  --spacing-three: 3rem;
  --spacing-four: 4rem;
}