@import 'mixins';

@font-face {
  font-family: 'Quicksand';
  src: url('../assets/Quicksand-VariableFont_wght.ttf');
}

div,
span,
h1,
h2,
h3,
h4,
a,
input,
textarea,
button,
a {
  font-family: 'Quicksand', sans-serif;
  color: var(--color-text-primary);
}

h1,
.heading-1 {
  @include font-weight(600);

  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 3rem;
  letter-spacing: 0.5px;
  padding-bottom: var(--spacing-two);
  background-color: var(--color-bg);
  margin: var(--spacing-four) 0 var(--spacing-one);
}

h2,
.heading-2 {
  @include font-weight(300);

  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0;
}

p,
.paragraph {
  @include font-weight(400);

  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0;
}

.link {
  @include font-weight(500);

  font-size: 0.875rem;
}
