h1 {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 3rem;
  letter-spacing: 0.5px;
  text-align: center;
  position: sticky;
  top: var(--spacing-three);
  padding-bottom: var(--spacing-two);
  background-color: var(--color-bg);
  margin: calc(var(--spacing-one) * 5) calc(var(--spacing-two) * -1) var(--spacing-one);
}

h2 {
  font-size: 2rem;
  line-height: 2.5;
  letter-spacing: 0;
  font-weight: 300;
}

p {
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 400;
}

.link {
  font-weight: 500;
  font-size: 0.875rem;
}
