<h1>Handleliste</h1>
<mh-selection-list [@listAnimation]="remaining.length">
  <mh-list-item *ngFor="let item of remaining" [value]="item.value" [checked]="item.inBasket" (remove)="removeValue(item)" (checkChange)="toggleItem(item)" (valueChange)="changeValue(item, $event)"></mh-list-item>
  <mh-list-item empty (valueChange)="addItem($event)"></mh-list-item>
</mh-selection-list>
<mh-separator></mh-separator>
<div class="title-container">
  <h2>I handlekurven</h2>
  <button class="mh-button" (click)="emptyCart()">Tøm</button>
</div>
<p *ngIf="!inBasket.length; else basketList">Ingen varer i handlekurven...</p>
<ng-template #basketList>
  <mh-selection-list [@listAnimation]="inBasket.length">
    <mh-list-item *ngFor="let item of inBasket" [value]="item.value" [checked]="item.inBasket" (remove)="removeValue(item)" (checkChange)="toggleItem(item)" (valueChange)="changeValue(item, $event)"></mh-list-item>
  </mh-selection-list>
</ng-template>