@import 'mixins';

.mh-alert {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-rows: auto;
  gap: var(--spacing-one) 0;
  background-color: var(--color-bg);
  padding: var(--spacing-one-and-half);
  border-top: var(--spacing-quarter) solid var(--color-primary-200);
  border-radius: 16px 16px 0 0;
  width: 100%;
  box-shadow: 0 -16px 16px 0 rgba(32, 59, 140, 0.08);
}

.mh-alert__title {
  margin: 0;
  padding: 0;
  font-size: var(--spacing-one-and-half);
  grid-column: 1;
}

.mh-alert__close-button {
  @include button-reset();
  background-color: transparent;
  grid-column: 2;
  grid-row: 1;
  align-self: flex-start;

  mh-icon {
    color: var(--color-primary-200);
  }
}

.mh-alert__description {
  margin: 0;
  grid-column: 1;

  &.center {
    align-self: center;
  }
}

.mh-alert__accept-button {
  margin-left: auto;
  margin-right: calc(var(--spacing-one) * -1);
  grid-column: 1 / -1;

  &.inline {
    grid-column: 2;
    grid-row: 1;
  }
}
