@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.back-button {
  align-self: flex-start;
  margin: var(--spacing-one) var(--spacing-half) 0;
  padding: var(--spacing-one);
}

.sun-decoration {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  transform: translateY(60%);
  background-color: var(--color-secondary);
  margin: -32px auto 0;
  flex: none;
}

.wave-container {
  overflow: hidden;
  max-height: 300px;
  margin-bottom: -4px;
  flex: none;

  .wave {
    width: 100%;
  }
}

.content-container {
  z-index: 1;
  flex: 1;
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg-alt);
  padding-bottom: var(--spacing-three);
}

.title-input {
  @include input-placeholder() {
    color: var(--color-primary-200);
  }

  outline: none;
  color: var(--color-primary);
  background: transparent;
  padding: 0;
  border: none;
  margin: 0 var(--spacing-one) var(--spacing-half);
  text-align: center;
  width: 100%;
}

.password-form {
  margin-top: var(--spacing-four);
  min-width: 300px;

  .input-type-toggle {
    @include button-reset();

    mh-icon {
      color: var(--color-primary-200);
    }
  }
}

.sign-out-button {
  margin-top: auto;
}
