@import '~@angular/cdk/overlay-prebuilt.css';
@import '~@angular/cdk/a11y-prebuilt.css';
@import './styles/button';
@import './styles/palette';
@import './styles/spacing';
@import './styles/typography';

html,
body {
  margin: 0;
}

body {
  background-color: var(--color-bg);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

div,
span,
h1,
h2,
h3,
h4,
a,
input,
textarea,
button,
a {
  font-family: 'Quicksand', sans-serif;
  color: var(--color-text-primary);
}
