@import 'mixins';

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-two);
  background-color: var(--color-bg);
  height: var(--spacing-four);
  transition: box-shadow 300ms ease;

  &.shadow {
    box-shadow: 0 16px 16px 0 rgba(32, 59, 140, 0.08);
  }
}

.profile-link {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: var(--color-primary);
  text-decoration: none;

  .user-circle {
    @include font-weight(700);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    line-height: 0;
    font-size: 0.875rem;
    margin-left: var(--spacing-half);
    width: var(--spacing-one-and-half);
    height: var(--spacing-one-and-half);
    color: var(--color-text-dark);
    background-color: var(--color-secondary);
  }
}

.router-container {
  transition: transform 300ms ease;
  padding: var(--spacing-two);

  &.faded {
    transform: translateY(-70%);
  }
}
