.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-one) var(--spacing-two);
  background-color: var(--color-bg);
}

.back-icon {
  color: var(--color-primary);
}

.user-name {
  color: var(--color-primary);
}

.router-container {
  transition: transform 300ms ease;
  padding: var(--spacing-two);

  &.faded {
    transform: translateY(-70%);
  }
}

.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  opacity: 0;
  transition: opacity 300ms ease;
  
  &.faded {
    opacity: 0.3;
  }
}
